<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-swing0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,0},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,360},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,360},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,432},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,432},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,504},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,504},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,576},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,576},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,648},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,648},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,72},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,720},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,720},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,792},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,792},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,864},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,864},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,936},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,936},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,1008},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,1008},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,72},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,1080},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,1080},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,1152},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,1152},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,1224},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,144},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,144},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,216},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,216},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{0,288},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swing9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{61,288},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player-swing_sheet.png</string>
            <key>size</key>
            <string>{122,1296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8432e75a939dbb8c4d472cf567eae58b:26412c1bb399024c874e452468305a8e:b5c7c0383822cec96b56856524a3bef0$</string>
            <key>textureFileName</key>
            <string>player-swing_sheet.png</string>
        </dict>
    </dict>
</plist>
