<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_crouch_middle_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_crouch_middle_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,60}</string>
                <key>spriteSourceSize</key>
                <string>{97,60}</string>
                <key>textureRect</key>
                <string>{{140,0},{97,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_crouch_middle_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,53}</string>
                <key>spriteSourceSize</key>
                <string>{146,53}</string>
                <key>textureRect</key>
                <string>{{97,64},{146,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_crouch_middle_kick_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,60}</string>
                <key>spriteSourceSize</key>
                <string>{97,60}</string>
                <key>textureRect</key>
                <string>{{0,64},{97,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_crouch_middle_kick_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_crouch_middle_kick0.png</string>
            <key>size</key>
            <string>{243,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92cd6b3464b0cf0799df0f941d700adb:7ba8482b32977ece29b3f33b5bf1dcd9:ecbea54fc0fd5488e1af30986ea715bc$</string>
            <key>textureFileName</key>
            <string>RYU1_crouch_middle_kick0.png</string>
        </dict>
    </dict>
</plist>
