<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_jump_middle_boxing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jump_middle_boxing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,77}</string>
                <key>spriteSourceSize</key>
                <string>{69,77}</string>
                <key>textureRect</key>
                <string>{{0,69},{69,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jump_middle_boxing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{0,146},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jump_middle_boxing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,69}</string>
                <key>textureRect</key>
                <string>{{52,0},{52,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_jump_middle_boxing0.png</string>
            <key>size</key>
            <string>{104,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cff32bc15620abde2ba7bf1d6d5b1eaf:295a94561839f561c0fde05d1ad12177:39e68084c528f0277cc45c9c00b39e56$</string>
            <key>textureFileName</key>
            <string>RYU1_jump_middle_boxing0.png</string>
        </dict>
    </dict>
</plist>
