<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_fall_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,44}</string>
                <key>spriteSourceSize</key>
                <string>{119,44}</string>
                <key>textureRect</key>
                <string>{{0,0},{119,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_fall_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,40}</string>
                <key>spriteSourceSize</key>
                <string>{123,40}</string>
                <key>textureRect</key>
                <string>{{0,44},{123,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_fall_down_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,31}</string>
                <key>spriteSourceSize</key>
                <string>{125,31}</string>
                <key>textureRect</key>
                <string>{{0,84},{125,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_fall_down0.png</string>
            <key>size</key>
            <string>{125,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43abd072bd102e307e52166f8225bd8f:0706c3923b616e94afcc40f8e19c4e18:4b412d47a098661af115efb3d0e892b9$</string>
            <key>textureFileName</key>
            <string>RYU1_fall_down0.png</string>
        </dict>
    </dict>
</plist>
