<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_near_heavy_boxing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_near_heavy_boxing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,93}</string>
                <key>spriteSourceSize</key>
                <string>{66,93}</string>
                <key>textureRect</key>
                <string>{{60,0},{66,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_near_heavy_boxing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{126,0},{89,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_near_heavy_boxing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,113}</string>
                <key>spriteSourceSize</key>
                <string>{82,113}</string>
                <key>textureRect</key>
                <string>{{0,94},{82,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_near_heavy_boxing_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{82,94},{89,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_near_heavy_boxing_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{171,94},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_near_heavy_boxing0.png</string>
            <key>size</key>
            <string>{231,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66b9840afe0d1425a67335293feaa70b:f7bebcbe22ed7d1c27f70406d6fbf381:4e8d375f0d1589ab308d9255e8da3f63$</string>
            <key>textureFileName</key>
            <string>RYU2_near_heavy_boxing0.png</string>
        </dict>
    </dict>
</plist>
