<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-kick0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{36,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{360,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{396,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{432,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{468,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{504,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{540,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{576,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{612,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{648,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{684,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{72,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{720,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{756,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{792,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{828,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{864,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{900,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{936,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{972,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{108,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{144,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{180,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{216,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{252,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{288,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-kick9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{324,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>palyer-kick-sheet.png</string>
            <key>size</key>
            <string>{1008,41}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f24dba7b57448d5a0e567133c156b17:7586d00231add91bdd366f92a33f5d68:28598f1fd389ec21b5894fe2b20153d8$</string>
            <key>textureFileName</key>
            <string>palyer-kick-sheet.png</string>
        </dict>
    </dict>
</plist>
