<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_wave_boxing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,90}</string>
                <key>spriteSourceSize</key>
                <string>{74,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_wave_boxing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{74,0},{85,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_wave_boxing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,83}</string>
                <key>spriteSourceSize</key>
                <string>{90,83}</string>
                <key>textureRect</key>
                <string>{{159,0},{90,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_wave_boxing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,77}</string>
                <key>spriteSourceSize</key>
                <string>{106,77}</string>
                <key>textureRect</key>
                <string>{{249,0},{106,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_wave_boxing0.png</string>
            <key>size</key>
            <string>{355,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c722b10e246856a10affa5fbb456af5a:0749ee270c75838990936a5315cd0d8c:b7ea822a547313a88a8e6e8d9dc2f0db$</string>
            <key>textureFileName</key>
            <string>RYU2_wave_boxing0.png</string>
        </dict>
    </dict>
</plist>
