<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-jump0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{22,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{22,39}</string>
                <key>textureRect</key>
                <string>{{0,39},{22,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{22,39}</string>
                <key>textureRect</key>
                <string>{{0,78},{22,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{22,39}</string>
                <key>textureRect</key>
                <string>{{0,117},{22,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{22,39}</string>
                <key>textureRect</key>
                <string>{{0,156},{22,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{22,39}</string>
                <key>textureRect</key>
                <string>{{0,195},{22,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{22,39}</string>
                <key>textureRect</key>
                <string>{{0,234},{22,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>palyer-jump-sheet.png</string>
            <key>size</key>
            <string>{22,273}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d53fce46a60ebe6f32f85b797af2670:53a92556d3031b07d86d88e1d559710c:d17892d14e9e15d82ee41b2fbc1dac4c$</string>
            <key>textureFileName</key>
            <string>palyer-jump-sheet.png</string>
        </dict>
    </dict>
</plist>
