<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,89}</string>
                <key>spriteSourceSize</key>
                <string>{60,89}</string>
                <key>textureRect</key>
                <string>{{55,0},{60,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,90}</string>
                <key>spriteSourceSize</key>
                <string>{59,90}</string>
                <key>textureRect</key>
                <string>{{0,93},{59,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{58,92}</string>
                <key>textureRect</key>
                <string>{{0,183},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,93}</string>
                <key>spriteSourceSize</key>
                <string>{55,93}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{58,92}</string>
                <key>textureRect</key>
                <string>{{58,183},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,90}</string>
                <key>spriteSourceSize</key>
                <string>{59,90}</string>
                <key>textureRect</key>
                <string>{{59,93},{59,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_wait0.png</string>
            <key>size</key>
            <string>{118,275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f754010bea66543c3b92033e496b153:d2d60b562cd02c0d8c4589861e3e18fa:1894b5e1f5172def3b72a127717bf012$</string>
            <key>textureFileName</key>
            <string>RYU1_wait0.png</string>
        </dict>
    </dict>
</plist>
