<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_goForward_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,89}</string>
                <key>spriteSourceSize</key>
                <string>{50,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_goForward_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,83}</string>
                <key>spriteSourceSize</key>
                <string>{52,83}</string>
                <key>textureRect</key>
                <string>{{50,0},{52,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_goForward_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,88}</string>
                <key>spriteSourceSize</key>
                <string>{60,88}</string>
                <key>textureRect</key>
                <string>{{102,0},{60,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_goForward_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,92}</string>
                <key>spriteSourceSize</key>
                <string>{64,92}</string>
                <key>textureRect</key>
                <string>{{162,0},{64,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_goForward_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,89}</string>
                <key>spriteSourceSize</key>
                <string>{63,89}</string>
                <key>textureRect</key>
                <string>{{226,0},{63,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_goForward_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,91}</string>
                <key>spriteSourceSize</key>
                <string>{54,91}</string>
                <key>textureRect</key>
                <string>{{289,0},{54,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_goForward0.png</string>
            <key>size</key>
            <string>{343,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f430c3e1699c30b58dba2db34f553bbe:f759cb1b3366203e523ae5e48d470694:08515a0915ad0b77b34c7a76c6458325$</string>
            <key>textureFileName</key>
            <string>RYU2_goForward0.png</string>
        </dict>
    </dict>
</plist>
