<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_crouch0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_crouch_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{61,0},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_crouch0.png</string>
            <key>size</key>
            <string>{122,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e789be76a0c63078a171929eb40a86:7a42a01c1d7cebc90cae66d6f14689a9:1facf0b9ffa4dfb593975aad6dd16027$</string>
            <key>textureFileName</key>
            <string>RYU2_crouch0.png</string>
        </dict>
    </dict>
</plist>
