<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_jumpMoved_middle_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jumpMoved_middle_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,72}</string>
                <key>spriteSourceSize</key>
                <string>{63,72}</string>
                <key>textureRect</key>
                <string>{{59,0},{63,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jumpMoved_middle_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,62}</string>
                <key>spriteSourceSize</key>
                <string>{110,62}</string>
                <key>textureRect</key>
                <string>{{0,76},{110,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jumpMoved_middle_kick_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,72}</string>
                <key>spriteSourceSize</key>
                <string>{63,72}</string>
                <key>textureRect</key>
                <string>{{0,138},{63,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_jumpMoved_middle_kick0.png</string>
            <key>size</key>
            <string>{122,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2a6629d9c34586059499e30db7ffdbe:c3c1ac5223c15f275fa33081ba11a57a:fc31d114281b5d587c818d987f80b381$</string>
            <key>textureFileName</key>
            <string>RYU2_jumpMoved_middle_kick0.png</string>
        </dict>
    </dict>
</plist>
