<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>transverseWaveDisappear_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>transverseWaveDisappear_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,25}</string>
                <key>spriteSourceSize</key>
                <string>{15,25}</string>
                <key>textureRect</key>
                <string>{{0,20},{15,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>transverseWaveDisappear_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,26}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{15,20},{11,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>transverseWaveDisappear_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,26}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{0,46},{11,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>transverseWaveDisappear_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,26}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{11,46},{11,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>waveboxingDIS.png</string>
            <key>size</key>
            <string>{26,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c903e5d8e9c2c10ec26b01731bbd20d:9c4ccd5ac8147a45646911267850552c:75b9180d1196ea9bd547b155e99b97d4$</string>
            <key>textureFileName</key>
            <string>waveboxingDIS.png</string>
        </dict>
    </dict>
</plist>
