<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-scale0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,39}</string>
                <key>spriteSourceSize</key>
                <string>{20,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-scale1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,39}</string>
                <key>spriteSourceSize</key>
                <string>{20,39}</string>
                <key>textureRect</key>
                <string>{{0,39},{20,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-scale2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,39}</string>
                <key>spriteSourceSize</key>
                <string>{20,39}</string>
                <key>textureRect</key>
                <string>{{0,78},{20,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-scale3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,39}</string>
                <key>spriteSourceSize</key>
                <string>{20,39}</string>
                <key>textureRect</key>
                <string>{{0,117},{20,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>palyer-scale-sheet.png</string>
            <key>size</key>
            <string>{20,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef9f2ee951bb4d851e55378ccb3f8a8e:e3dcb0244070c738d40b3a93dc61e5df:d115e7a48a87ec8e3a779bbb72f5db4d$</string>
            <key>textureFileName</key>
            <string>palyer-scale-sheet.png</string>
        </dict>
    </dict>
</plist>
