<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_jumpMoved_light_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jumpMoved_light_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,73}</string>
                <key>spriteSourceSize</key>
                <string>{55,73}</string>
                <key>textureRect</key>
                <string>{{59,0},{55,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jumpMoved_light_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,67}</string>
                <key>spriteSourceSize</key>
                <string>{77,67}</string>
                <key>textureRect</key>
                <string>{{114,0},{77,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_jumpMoved_light_kick0.png</string>
            <key>size</key>
            <string>{191,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:122beb4c3e1b93ef102bdf4a6fbb3e48:d5e83813e82ad36851da95dbb3b44196:bb7f595d01f2ed68da8dbf77cb936d1b$</string>
            <key>textureFileName</key>
            <string>RYU2_jumpMoved_light_kick0.png</string>
        </dict>
    </dict>
</plist>
