<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_crouch_light_boxing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_crouch_light_boxing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,61}</string>
                <key>spriteSourceSize</key>
                <string>{95,61}</string>
                <key>textureRect</key>
                <string>{{69,0},{95,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_crouch_light_boxing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,61}</string>
                <key>spriteSourceSize</key>
                <string>{69,61}</string>
                <key>textureRect</key>
                <string>{{164,0},{69,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_crouch_light_boxing0.png</string>
            <key>size</key>
            <string>{233,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11062db814eb45b7868eb03327fd9533:859c5c433ee61406a38f9f1c3f00e935:6da98b617dc9ff3f3e4d4d9f585455af$</string>
            <key>textureFileName</key>
            <string>RYU2_crouch_light_boxing0.png</string>
        </dict>
    </dict>
</plist>
