<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_heavy_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,90}</string>
                <key>spriteSourceSize</key>
                <string>{61,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_heavy_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{61,0},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_heavy_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,94}</string>
                <key>textureRect</key>
                <string>{{155,0},{120,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_heavy_kick_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,77}</string>
                <key>spriteSourceSize</key>
                <string>{101,77}</string>
                <key>textureRect</key>
                <string>{{275,0},{101,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_heavy_kick_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{376,0},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_heavy_kick0.png</string>
            <key>size</key>
            <string>{440,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82eb10363c9801c6a900c0aae45e8e9c:480a46fdd4a9a8cd947ddedea59d6e26:27d7f6dd26b4be6f48828b1b424e6d84$</string>
            <key>textureFileName</key>
            <string>RYU1_heavy_kick0.png</string>
        </dict>
    </dict>
</plist>
