<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_middle_boxing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_middle_boxing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{60,0},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_middle_boxing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,94}</string>
                <key>textureRect</key>
                <string>{{134,0},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_middle_boxing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{242,0},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_middle_boxing_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{316,0},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_middle_boxing0.png</string>
            <key>size</key>
            <string>{376,95}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62b5397afd21fc26d36c534eb4748aa6:dbb876fc3afe3239702c993b8a9a370e:bc2cb32d1195d578c205e55f8b6b5fe4$</string>
            <key>textureFileName</key>
            <string>RYU1_middle_boxing0.png</string>
        </dict>
    </dict>
</plist>
