<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_crouch_middle_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_crouch_middle_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,60}</string>
                <key>spriteSourceSize</key>
                <string>{97,60}</string>
                <key>textureRect</key>
                <string>{{140,0},{97,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_crouch_middle_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,53}</string>
                <key>spriteSourceSize</key>
                <string>{146,53}</string>
                <key>textureRect</key>
                <string>{{97,64},{146,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_crouch_middle_kick_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,60}</string>
                <key>spriteSourceSize</key>
                <string>{97,60}</string>
                <key>textureRect</key>
                <string>{{0,64},{97,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_crouch_middle_kick_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_crouch_middle_kick0.png</string>
            <key>size</key>
            <string>{243,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e896fc93858347ab763d0afc39ba9014:3937b51bc59fc39bb975b43545fe58a8:5b9812d89926a106978785e71d8fc920$</string>
            <key>textureFileName</key>
            <string>RYU2_crouch_middle_kick0.png</string>
        </dict>
    </dict>
</plist>
