<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_crouch_light_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_crouch_light_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,64}</string>
                <key>spriteSourceSize</key>
                <string>{112,64}</string>
                <key>textureRect</key>
                <string>{{70,0},{112,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_crouch_light_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{182,0},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_crouch_light_kick0.png</string>
            <key>size</key>
            <string>{252,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf1fc6ccb120c494016a3894e3ad0bff:c83a04d95e55e2d6bf61f33561cb8fe5:d17e74c1cd27766ea3395f31e1b50874$</string>
            <key>textureFileName</key>
            <string>RYU2_crouch_light_kick0.png</string>
        </dict>
    </dict>
</plist>
