<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_beAttacked_impact_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,87}</string>
                <key>spriteSourceSize</key>
                <string>{72,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_beAttacked_impact_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,93}</string>
                <key>spriteSourceSize</key>
                <string>{81,93}</string>
                <key>textureRect</key>
                <string>{{72,0},{81,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_beAttacked_impact_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,90}</string>
                <key>spriteSourceSize</key>
                <string>{67,90}</string>
                <key>textureRect</key>
                <string>{{153,0},{67,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_beAttacked_impact0.png</string>
            <key>size</key>
            <string>{220,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72bd9be7c69eeecc764c7d17e26c35c7:3c0b7f39589010560cd9c8e5cba7f604:65979b12bd3d6cc213d47746a0afaea4$</string>
            <key>textureFileName</key>
            <string>RYU1_beAttacked_impact0.png</string>
        </dict>
    </dict>
</plist>
