<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_jump_light_boxing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jump_light_boxing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,71}</string>
                <key>spriteSourceSize</key>
                <string>{81,71}</string>
                <key>textureRect</key>
                <string>{{52,0},{81,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_jump_light_boxing0.png</string>
            <key>size</key>
            <string>{133,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2799695a3b43dc33264e33d363975a73:2b85b64c77b856be9c3e5dc68bf7a170:6afa26383dcf434740814bcf8f60ad9e$</string>
            <key>textureFileName</key>
            <string>RYU1_jump_light_boxing0.png</string>
        </dict>
    </dict>
</plist>
