<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_crouch_heavy_boxing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_crouch_heavy_boxing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,91}</string>
                <key>spriteSourceSize</key>
                <string>{73,91}</string>
                <key>textureRect</key>
                <string>{{0,72},{73,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_crouch_heavy_boxing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,126}</string>
                <key>spriteSourceSize</key>
                <string>{57,126}</string>
                <key>textureRect</key>
                <string>{{0,163},{57,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_crouch_heavy_boxing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,91}</string>
                <key>spriteSourceSize</key>
                <string>{73,91}</string>
                <key>textureRect</key>
                <string>{{0,289},{73,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_crouch_heavy_boxing_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{0,380},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_crouch_heavy_boxing0.png</string>
            <key>size</key>
            <string>{73,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:100fe0a0d3c63f3bf991367fb4001bdc:8e7fb127035b1d635fdcf194b34a4d94:f0b4fdc74e361a7f90ec76a804ed5252$</string>
            <key>textureFileName</key>
            <string>RYU1_crouch_heavy_boxing0.png</string>
        </dict>
    </dict>
</plist>
