<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_jump_middle_boxing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jump_middle_boxing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,77}</string>
                <key>spriteSourceSize</key>
                <string>{69,77}</string>
                <key>textureRect</key>
                <string>{{0,69},{69,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jump_middle_boxing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{0,146},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jump_middle_boxing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,69}</string>
                <key>spriteSourceSize</key>
                <string>{52,69}</string>
                <key>textureRect</key>
                <string>{{52,0},{52,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_jump_middle_boxing0.png</string>
            <key>size</key>
            <string>{104,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d283a80e9c239c39e4683ef961966c1:ea435cb2019895e9edcb91146cd6aa2e:40e7e3fa38b21eea6eb70d6415895760$</string>
            <key>textureFileName</key>
            <string>RYU2_jump_middle_boxing0.png</string>
        </dict>
    </dict>
</plist>
