<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_after_impact_boxing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,119}</string>
                <key>spriteSourceSize</key>
                <string>{53,119}</string>
                <key>textureRect</key>
                <string>{{0,0},{53,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_after_impact_boxing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,117}</string>
                <key>spriteSourceSize</key>
                <string>{49,117}</string>
                <key>textureRect</key>
                <string>{{53,0},{49,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_after_impact_boxing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,105}</string>
                <key>spriteSourceSize</key>
                <string>{59,105}</string>
                <key>textureRect</key>
                <string>{{102,0},{59,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_after_impact_boxing0.png</string>
            <key>size</key>
            <string>{161,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df357f88233026366a73c5326d916a8c:ac6f593b855bd9140e83375c7d82f9fa:1bfd6053ed9a7a4146d44f461531bcf8$</string>
            <key>textureFileName</key>
            <string>RYU2_after_impact_boxing0.png</string>
        </dict>
    </dict>
</plist>
