<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievement-progress-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,16}</string>
                <key>spriteSourceSize</key>
                <string>{95,16}</string>
                <key>textureRect</key>
                <string>{{68,0},{95,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achievement-unlocked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,88}</string>
                <key>spriteSourceSize</key>
                <string>{161,88}</string>
                <key>textureRect</key>
                <string>{{61,313},{161,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>act-block-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{0,543},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>act-block-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,144}</string>
                <key>spriteSourceSize</key>
                <string>{143,144}</string>
                <key>textureRect</key>
                <string>{{140,543},{143,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>act-check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,21}</string>
                <key>spriteSourceSize</key>
                <string>{28,21}</string>
                <key>textureRect</key>
                <string>{{312,18},{28,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>act-select-logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,39}</string>
                <key>spriteSourceSize</key>
                <string>{15,39}</string>
                <key>textureRect</key>
                <string>{{364,41},{15,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awesome1-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{215,181},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awesome2-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,50}</string>
                <key>textureRect</key>
                <string>{{0,128},{45,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awesome3-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{45,128},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awesome4-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,48}</string>
                <key>spriteSourceSize</key>
                <string>{65,48}</string>
                <key>textureRect</key>
                <string>{{292,80},{65,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awesome5-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{87,128},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awesome6-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{137,128},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awesome7-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{187,128},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block-basic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{222,313},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>breathe-blaster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,103}</string>
                <key>spriteSourceSize</key>
                <string>{44,103}</string>
                <key>textureRect</key>
                <string>{{0,415},{44,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzzsaw-on-stick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,33}</string>
                <key>spriteSourceSize</key>
                <string>{167,33}</string>
                <key>textureRect</key>
                <string>{{73,41},{167,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buzzsaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,102}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{356,313},{101,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon-base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{340,245},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannon-tube.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,25}</string>
                <key>spriteSourceSize</key>
                <string>{73,25}</string>
                <key>textureRect</key>
                <string>{{0,41},{73,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>challenge-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{283,543},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>challenge1-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{237,128},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>challenge3-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{291,128},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>challenge4-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{345,128},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>challenge5-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{399,128},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkpoint-swimming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{44,415},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkpoint-swimming_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,57}</string>
                <key>textureRect</key>
                <string>{{0,181},{48,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkpoint-swimming_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,57}</string>
                <key>textureRect</key>
                <string>{{48,181},{48,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkpoint-swimming_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,57}</string>
                <key>textureRect</key>
                <string>{{96,181},{48,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkpoint-text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,23}</string>
                <key>spriteSourceSize</key>
                <string>{121,23}</string>
                <key>textureRect</key>
                <string>{{340,18},{121,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkpoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{172,415},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>complete1-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,48}</string>
                <key>spriteSourceSize</key>
                <string>{65,48}</string>
                <key>textureRect</key>
                <string>{{357,80},{65,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>complete4-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,57}</string>
                <key>spriteSourceSize</key>
                <string>{71,57}</string>
                <key>textureRect</key>
                <string>{{144,181},{71,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>completed-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{236,415},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>falling-spike.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,11}</string>
                <key>spriteSourceSize</key>
                <string>{18,11}</string>
                <key>textureRect</key>
                <string>{{50,0},{18,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hazard-strips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,100}</string>
                <key>spriteSourceSize</key>
                <string>{10,100}</string>
                <key>textureRect</key>
                <string>{{322,313},{10,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,39}</string>
                <key>spriteSourceSize</key>
                <string>{21,39}</string>
                <key>textureRect</key>
                <string>{{379,41},{21,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light-switch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{292,18},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pole-red-section.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,45}</string>
                <key>spriteSourceSize</key>
                <string>{30,45}</string>
                <key>textureRect</key>
                <string>{{262,80},{30,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>press-down-hard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,42}</string>
                <key>spriteSourceSize</key>
                <string>{131,42}</string>
                <key>textureRect</key>
                <string>{{0,80},{131,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>press-down-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,42}</string>
                <key>spriteSourceSize</key>
                <string>{131,42}</string>
                <key>textureRect</key>
                <string>{{131,80},{131,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spike.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{163,0},{11,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spike10x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,18}</string>
                <key>spriteSourceSize</key>
                <string>{97,18}</string>
                <key>textureRect</key>
                <string>{{174,0},{97,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spike30x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,18}</string>
                <key>spriteSourceSize</key>
                <string>{292,18}</string>
                <key>textureRect</key>
                <string>{{0,18},{292,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star-icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{300,415},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star1-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{281,181},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star2-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{349,181},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star3-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{0,245},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star4-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{68,245},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star5-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{136,245},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star8-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{204,245},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star9-achievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{272,245},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text-fade-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,81}</string>
                <key>spriteSourceSize</key>
                <string>{61,81}</string>
                <key>textureRect</key>
                <string>{{0,313},{61,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text-fade-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,35}</string>
                <key>spriteSourceSize</key>
                <string>{124,35}</string>
                <key>textureRect</key>
                <string>{{240,41},{124,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timed-key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,39}</string>
                <key>spriteSourceSize</key>
                <string>{21,39}</string>
                <key>textureRect</key>
                <string>{{400,41},{21,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind-blaster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,100}</string>
                <key>spriteSourceSize</key>
                <string>{24,100}</string>
                <key>textureRect</key>
                <string>{{332,313},{24,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind-fan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{364,415},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,8}</string>
                <key>spriteSourceSize</key>
                <string>{50,8}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Index_map.png</string>
            <key>size</key>
            <string>{461,799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93191b8d16631db5b74dc14bcee27b4e:b648979366a4ee1d7a0bfc4b9558002f:c19087904166c9285f39d2cf417c7c2b$</string>
            <key>textureFileName</key>
            <string>Index_map.png</string>
        </dict>
    </dict>
</plist>
