<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-swim-bottom_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{15,0},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{28,0},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{26,16},{12,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,17}</string>
                <key>spriteSourceSize</key>
                <string>{10,17}</string>
                <key>textureRect</key>
                <string>{{38,16},{10,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,17}</string>
                <key>spriteSourceSize</key>
                <string>{9,17}</string>
                <key>textureRect</key>
                <string>{{48,16},{9,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,18}</string>
                <key>spriteSourceSize</key>
                <string>{8,18}</string>
                <key>textureRect</key>
                <string>{{19,33},{8,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{27,33},{9,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{36,33},{9,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{45,33},{11,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,19}</string>
                <key>spriteSourceSize</key>
                <string>{11,19}</string>
                <key>textureRect</key>
                <string>{{37,51},{11,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{0,70},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{13,70},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{15,19}</string>
                <key>textureRect</key>
                <string>{{26,70},{15,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{15,19}</string>
                <key>textureRect</key>
                <string>{{41,70},{15,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{15,19}</string>
                <key>textureRect</key>
                <string>{{0,89},{15,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{15,89},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{28,89},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,19}</string>
                <key>spriteSourceSize</key>
                <string>{11,19}</string>
                <key>textureRect</key>
                <string>{{41,89},{11,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{0,51},{11,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{11,51},{9,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{20,51},{9,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,18}</string>
                <key>spriteSourceSize</key>
                <string>{8,18}</string>
                <key>textureRect</key>
                <string>{{29,51},{8,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,17}</string>
                <key>spriteSourceSize</key>
                <string>{9,17}</string>
                <key>textureRect</key>
                <string>{{0,33},{9,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,17}</string>
                <key>spriteSourceSize</key>
                <string>{10,17}</string>
                <key>textureRect</key>
                <string>{{9,33},{10,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{41,0},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{0,16},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-swim-bottom_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{13,16},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player-swim.png</string>
            <key>size</key>
            <string>{57,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c5e6b148972f6ae583fbc4bc7b1de33:3db2be54b1d0f1ae5f80fca8bfd2e84d:329c9d61b65cf4ca5b36d4a80bae3132$</string>
            <key>textureFileName</key>
            <string>player-swim.png</string>
        </dict>
    </dict>
</plist>
