<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-spawn_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,10}</string>
                <key>textureRect</key>
                <string>{{5,0},{5,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,16}</string>
                <key>spriteSourceSize</key>
                <string>{6,16}</string>
                <key>textureRect</key>
                <string>{{0,37},{6,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,16}</string>
                <key>spriteSourceSize</key>
                <string>{6,16}</string>
                <key>textureRect</key>
                <string>{{6,37},{6,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,21}</string>
                <key>spriteSourceSize</key>
                <string>{7,21}</string>
                <key>textureRect</key>
                <string>{{6,53},{7,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,26}</string>
                <key>spriteSourceSize</key>
                <string>{13,26}</string>
                <key>textureRect</key>
                <string>{{0,136},{13,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{11,29}</string>
                <key>textureRect</key>
                <string>{{0,324},{11,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,32}</string>
                <key>spriteSourceSize</key>
                <string>{11,32}</string>
                <key>textureRect</key>
                <string>{{0,410},{11,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,34}</string>
                <key>spriteSourceSize</key>
                <string>{11,34}</string>
                <key>textureRect</key>
                <string>{{0,442},{11,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,35}</string>
                <key>spriteSourceSize</key>
                <string>{12,35}</string>
                <key>textureRect</key>
                <string>{{0,508},{12,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,36}</string>
                <key>spriteSourceSize</key>
                <string>{13,36}</string>
                <key>textureRect</key>
                <string>{{0,788},{13,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,36}</string>
                <key>spriteSourceSize</key>
                <string>{13,36}</string>
                <key>textureRect</key>
                <string>{{0,824},{13,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,37}</string>
                <key>spriteSourceSize</key>
                <string>{13,37}</string>
                <key>textureRect</key>
                <string>{{0,1003},{13,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,37}</string>
                <key>spriteSourceSize</key>
                <string>{14,37}</string>
                <key>textureRect</key>
                <string>{{0,1113},{14,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{0,91},{10,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,35}</string>
                <key>spriteSourceSize</key>
                <string>{12,35}</string>
                <key>textureRect</key>
                <string>{{0,543},{12,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{0,74},{12,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,35}</string>
                <key>spriteSourceSize</key>
                <string>{13,35}</string>
                <key>textureRect</key>
                <string>{{0,648},{13,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,35}</string>
                <key>spriteSourceSize</key>
                <string>{12,35}</string>
                <key>textureRect</key>
                <string>{{0,578},{12,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,27}</string>
                <key>spriteSourceSize</key>
                <string>{12,27}</string>
                <key>textureRect</key>
                <string>{{0,162},{12,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,27}</string>
                <key>spriteSourceSize</key>
                <string>{12,27}</string>
                <key>textureRect</key>
                <string>{{0,189},{12,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,27}</string>
                <key>spriteSourceSize</key>
                <string>{12,27}</string>
                <key>textureRect</key>
                <string>{{0,216},{12,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,27}</string>
                <key>spriteSourceSize</key>
                <string>{12,27}</string>
                <key>textureRect</key>
                <string>{{0,243},{12,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,27}</string>
                <key>spriteSourceSize</key>
                <string>{12,27}</string>
                <key>textureRect</key>
                <string>{{0,270},{12,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,27}</string>
                <key>spriteSourceSize</key>
                <string>{12,27}</string>
                <key>textureRect</key>
                <string>{{0,297},{12,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,25}</string>
                <key>spriteSourceSize</key>
                <string>{12,25}</string>
                <key>textureRect</key>
                <string>{{0,111},{12,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,35}</string>
                <key>spriteSourceSize</key>
                <string>{12,35}</string>
                <key>textureRect</key>
                <string>{{0,613},{12,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,37}</string>
                <key>spriteSourceSize</key>
                <string>{14,37}</string>
                <key>textureRect</key>
                <string>{{0,1150},{14,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,37}</string>
                <key>spriteSourceSize</key>
                <string>{14,37}</string>
                <key>textureRect</key>
                <string>{{0,1187},{14,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,37}</string>
                <key>spriteSourceSize</key>
                <string>{14,37}</string>
                <key>textureRect</key>
                <string>{{0,1224},{14,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,38}</string>
                <key>spriteSourceSize</key>
                <string>{13,38}</string>
                <key>textureRect</key>
                <string>{{0,1261},{13,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{0,1522},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,35}</string>
                <key>spriteSourceSize</key>
                <string>{13,35}</string>
                <key>textureRect</key>
                <string>{{0,683},{13,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{5,10},{4,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{9,10},{4,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{0,22},{4,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{4,22},{4,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,15}</string>
                <key>spriteSourceSize</key>
                <string>{6,15}</string>
                <key>textureRect</key>
                <string>{{8,22},{6,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,10}</string>
                <key>textureRect</key>
                <string>{{0,10},{5,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,17}</string>
                <key>spriteSourceSize</key>
                <string>{6,17}</string>
                <key>textureRect</key>
                <string>{{0,53},{6,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,32}</string>
                <key>spriteSourceSize</key>
                <string>{13,32}</string>
                <key>textureRect</key>
                <string>{{0,476},{13,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,29}</string>
                <key>spriteSourceSize</key>
                <string>{13,29}</string>
                <key>textureRect</key>
                <string>{{0,381},{13,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,28}</string>
                <key>spriteSourceSize</key>
                <string>{13,28}</string>
                <key>textureRect</key>
                <string>{{0,353},{13,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,36}</string>
                <key>spriteSourceSize</key>
                <string>{13,36}</string>
                <key>textureRect</key>
                <string>{{0,860},{13,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,35}</string>
                <key>spriteSourceSize</key>
                <string>{13,35}</string>
                <key>textureRect</key>
                <string>{{0,718},{13,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,38}</string>
                <key>spriteSourceSize</key>
                <string>{13,38}</string>
                <key>textureRect</key>
                <string>{{0,1299},{13,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,36}</string>
                <key>spriteSourceSize</key>
                <string>{13,36}</string>
                <key>textureRect</key>
                <string>{{0,896},{13,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,35}</string>
                <key>spriteSourceSize</key>
                <string>{13,35}</string>
                <key>textureRect</key>
                <string>{{0,753},{13,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,36}</string>
                <key>spriteSourceSize</key>
                <string>{13,36}</string>
                <key>textureRect</key>
                <string>{{0,932},{13,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,37}</string>
                <key>spriteSourceSize</key>
                <string>{13,37}</string>
                <key>textureRect</key>
                <string>{{0,1040},{13,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,37}</string>
                <key>spriteSourceSize</key>
                <string>{14,37}</string>
                <key>textureRect</key>
                <string>{{0,1337},{14,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{0,1560},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,37}</string>
                <key>spriteSourceSize</key>
                <string>{14,37}</string>
                <key>textureRect</key>
                <string>{{0,1374},{14,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,36}</string>
                <key>spriteSourceSize</key>
                <string>{14,36}</string>
                <key>textureRect</key>
                <string>{{0,1077},{14,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,35}</string>
                <key>spriteSourceSize</key>
                <string>{14,35}</string>
                <key>textureRect</key>
                <string>{{0,968},{14,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,37}</string>
                <key>spriteSourceSize</key>
                <string>{14,37}</string>
                <key>textureRect</key>
                <string>{{0,1411},{14,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,8}</string>
                <key>spriteSourceSize</key>
                <string>{5,8}</string>
                <key>textureRect</key>
                <string>{{0,0},{5,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,37}</string>
                <key>spriteSourceSize</key>
                <string>{14,37}</string>
                <key>textureRect</key>
                <string>{{0,1448},{14,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,37}</string>
                <key>spriteSourceSize</key>
                <string>{14,37}</string>
                <key>textureRect</key>
                <string>{{0,1485},{14,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{0,1598},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{0,1636},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{0,1674},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{0,1712},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{0,1750},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{0,1788},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{0,1826},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{0,1864},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{0,1902},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-spawn_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{0,1940},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player-spawn.png</string>
            <key>size</key>
            <string>{14,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce0814acf3e8385b9f3058fe40ff99b4:3e843ea014601078b7a4abd9bd52db22:799b702e6b8aedf6ec246cb379a0d49b$</string>
            <key>textureFileName</key>
            <string>player-spawn.png</string>
        </dict>
    </dict>
</plist>
