<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_near_middle_boxing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_near_middle_boxing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,93}</string>
                <key>spriteSourceSize</key>
                <string>{55,93}</string>
                <key>textureRect</key>
                <string>{{60,0},{55,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_near_middle_boxing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,94}</string>
                <key>spriteSourceSize</key>
                <string>{86,94}</string>
                <key>textureRect</key>
                <string>{{115,0},{86,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_near_middle_boxing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,92}</string>
                <key>spriteSourceSize</key>
                <string>{63,92}</string>
                <key>textureRect</key>
                <string>{{201,0},{63,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_near_middle_boxing_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,94}</string>
                <key>spriteSourceSize</key>
                <string>{86,94}</string>
                <key>textureRect</key>
                <string>{{264,0},{86,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_near_middle_boxing_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,93}</string>
                <key>spriteSourceSize</key>
                <string>{55,93}</string>
                <key>textureRect</key>
                <string>{{350,0},{55,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_near_middle_boxing_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{405,0},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_near_middle_boxing0.png</string>
            <key>size</key>
            <string>{465,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44b83550bbd873c19166a3624e3456ea:0c4bd330936d31df08088c42cae45ed0:434dfac43c0c03cd84e55ada3cf6c3b0$</string>
            <key>textureFileName</key>
            <string>RYU1_near_middle_boxing0.png</string>
        </dict>
    </dict>
</plist>
