<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_stand_up_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_stand_up_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,69}</string>
                <key>spriteSourceSize</key>
                <string>{57,69}</string>
                <key>textureRect</key>
                <string>{{0,61},{57,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_stand_up_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,83}</string>
                <key>spriteSourceSize</key>
                <string>{53,83}</string>
                <key>textureRect</key>
                <string>{{0,130},{53,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_stand_up0.png</string>
            <key>size</key>
            <string>{61,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:733f1310de5ab14952113e6c81a4bd98:f118891f2126a75b4e8bd499a1c4bc1a:2dbefc77328ec0c14d7a4e0ba6ff9419$</string>
            <key>textureFileName</key>
            <string>RYU2_stand_up0.png</string>
        </dict>
    </dict>
</plist>
