<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_goBack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,87}</string>
                <key>spriteSourceSize</key>
                <string>{61,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_goBack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,90}</string>
                <key>spriteSourceSize</key>
                <string>{59,90}</string>
                <key>textureRect</key>
                <string>{{61,0},{59,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_goBack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,90}</string>
                <key>spriteSourceSize</key>
                <string>{57,90}</string>
                <key>textureRect</key>
                <string>{{120,0},{57,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_goBack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,90}</string>
                <key>spriteSourceSize</key>
                <string>{58,90}</string>
                <key>textureRect</key>
                <string>{{177,0},{58,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_goBack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,91}</string>
                <key>spriteSourceSize</key>
                <string>{58,91}</string>
                <key>textureRect</key>
                <string>{{235,0},{58,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_goBack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,89}</string>
                <key>spriteSourceSize</key>
                <string>{57,89}</string>
                <key>textureRect</key>
                <string>{{293,0},{57,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_goBack0.png</string>
            <key>size</key>
            <string>{350,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4b0651b539b76fe1fb50a06fc626df4:bf41623d9fb77a569bddfa506c6d5e58:7f9fa1b2078b232c7f23373a5d3bb22c$</string>
            <key>textureFileName</key>
            <string>RYU1_goBack0.png</string>
        </dict>
    </dict>
</plist>
