<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_crouch_heavy_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_crouch_heavy_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,58}</string>
                <key>spriteSourceSize</key>
                <string>{121,58}</string>
                <key>textureRect</key>
                <string>{{52,0},{121,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_crouch_heavy_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,57}</string>
                <key>textureRect</key>
                <string>{{173,0},{62,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_crouch_heavy_kick_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,59}</string>
                <key>spriteSourceSize</key>
                <string>{62,59}</string>
                <key>textureRect</key>
                <string>{{235,0},{62,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_crouch_heavy_kick_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,61}</string>
                <key>spriteSourceSize</key>
                <string>{53,61}</string>
                <key>textureRect</key>
                <string>{{297,0},{53,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_crouch_heavy_kick0.png</string>
            <key>size</key>
            <string>{350,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33e1f05a501eb7f4d57ac35739e00a72:8e078f6babaef945bf395a4b169d82fb:b604af21cfa0b55426e1a7a74f4d9a7d$</string>
            <key>textureFileName</key>
            <string>RYU1_crouch_heavy_kick0.png</string>
        </dict>
    </dict>
</plist>
