<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>defense_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,9}</string>
                <key>spriteSourceSize</key>
                <string>{10,9}</string>
                <key>textureRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defense_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,21}</string>
                <key>spriteSourceSize</key>
                <string>{12,21}</string>
                <key>textureRect</key>
                <string>{{10,0},{12,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defense_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,20}</string>
                <key>spriteSourceSize</key>
                <string>{23,20}</string>
                <key>textureRect</key>
                <string>{{22,0},{23,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defense_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,28}</string>
                <key>spriteSourceSize</key>
                <string>{31,28}</string>
                <key>textureRect</key>
                <string>{{45,0},{31,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>defense_p.png</string>
            <key>size</key>
            <string>{76,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17651556b663b1e79ea62f0a01935921:5611addddfca71fb3337f727b71158d3:371467cfb226d238ce052d19c1b890ce$</string>
            <key>textureFileName</key>
            <string>defense_p.png</string>
        </dict>
    </dict>
</plist>
