<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_beAttacked_top_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,90}</string>
                <key>spriteSourceSize</key>
                <string>{62,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_beAttacked_top_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,89}</string>
                <key>spriteSourceSize</key>
                <string>{68,89}</string>
                <key>textureRect</key>
                <string>{{62,0},{68,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_beAttacked_top0.png</string>
            <key>size</key>
            <string>{130,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cfc04ba2d7cc05d37098cdc6df2e330:fb41b2cd6416477c6e477cad7bd4879d:9087a276d0421f205a77b10d6a1c7cd9$</string>
            <key>textureFileName</key>
            <string>RYU2_beAttacked_top0.png</string>
        </dict>
    </dict>
</plist>
