<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-hang0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,38},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,380},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,418},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,456},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,494},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,532},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,570},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,608},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,646},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,684},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,722},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,76},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,114},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,152},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,190},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,228},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,266},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,304},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-hang9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{0,342},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>palyer-hang-sheet.png</string>
            <key>size</key>
            <string>{19,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a09fbe65ae838eaf41a43a68678a81c:40bb9e59703e8a1c8a3aa972ede79288:55de195b11331b2918ec0e6ab309a590$</string>
            <key>textureFileName</key>
            <string>palyer-hang-sheet.png</string>
        </dict>
    </dict>
</plist>
