<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_stand_crouch_defense_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,61}</string>
                <key>spriteSourceSize</key>
                <string>{55,61}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_stand_crouch_defense_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{55,0},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_stand_crouch_defense0.png</string>
            <key>size</key>
            <string>{113,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fe8530a9e3ba431f044599dad77c77b:04ea8b5f2bf2480da5f197d963f28c61:ee8ed6731924e30cb06cfbea68bd9496$</string>
            <key>textureFileName</key>
            <string>RYU1_stand_crouch_defense0.png</string>
        </dict>
    </dict>
</plist>
