<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_impact_boxing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{62,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_impact_boxing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,89}</string>
                <key>spriteSourceSize</key>
                <string>{68,89}</string>
                <key>textureRect</key>
                <string>{{62,0},{68,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_impact_boxing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,125}</string>
                <key>spriteSourceSize</key>
                <string>{59,125}</string>
                <key>textureRect</key>
                <string>{{130,0},{59,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_impact_boxing0.png</string>
            <key>size</key>
            <string>{189,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f991ea44500e3af801960a5d74e4a278:2a999ff18da327ea9e96139cdb7d4a77:d7887e23f89602d0fa7ee16bc424a736$</string>
            <key>textureFileName</key>
            <string>RYU1_impact_boxing0.png</string>
        </dict>
    </dict>
</plist>
