<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_wait_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,89}</string>
                <key>spriteSourceSize</key>
                <string>{60,89}</string>
                <key>textureRect</key>
                <string>{{55,0},{60,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_wait_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,90}</string>
                <key>spriteSourceSize</key>
                <string>{59,90}</string>
                <key>textureRect</key>
                <string>{{0,93},{59,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_wait_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{58,92}</string>
                <key>textureRect</key>
                <string>{{0,183},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_wait_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,93}</string>
                <key>spriteSourceSize</key>
                <string>{55,93}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_wait_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{58,92}</string>
                <key>textureRect</key>
                <string>{{58,183},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_wait_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,90}</string>
                <key>spriteSourceSize</key>
                <string>{59,90}</string>
                <key>textureRect</key>
                <string>{{59,93},{59,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_wait0.png</string>
            <key>size</key>
            <string>{118,275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc9ec299f75f2d62e60ca84f92a6c239:928b769b2ab3b717b4718b7bc7e99e6e:bd9a7c2bad06d0e904255571276e7c31$</string>
            <key>textureFileName</key>
            <string>RYU2_wait0.png</string>
        </dict>
    </dict>
</plist>
