<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_near_middle_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{0,102},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_near_middle_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,93}</string>
                <key>spriteSourceSize</key>
                <string>{64,93}</string>
                <key>textureRect</key>
                <string>{{53,0},{64,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_near_middle_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,102}</string>
                <key>spriteSourceSize</key>
                <string>{53,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{53,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_near_middle_kick_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,93}</string>
                <key>spriteSourceSize</key>
                <string>{64,93}</string>
                <key>textureRect</key>
                <string>{{117,0},{64,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_near_middle_kick_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,90}</string>
                <key>spriteSourceSize</key>
                <string>{82,90}</string>
                <key>textureRect</key>
                <string>{{82,102},{82,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_near_middle_kick0.png</string>
            <key>size</key>
            <string>{181,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49e265cc58864ed4b3986133a28669f0:53550310c28facc6953e9b17cb97547f:f104298fe468d24f7a3f170f03faf3af$</string>
            <key>textureFileName</key>
            <string>RYU2_near_middle_kick0.png</string>
        </dict>
    </dict>
</plist>
