<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_beAttacked_heavy_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,82}</string>
                <key>spriteSourceSize</key>
                <string>{66,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_beAttacked_heavy_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,84}</string>
                <key>spriteSourceSize</key>
                <string>{71,84}</string>
                <key>textureRect</key>
                <string>{{66,0},{71,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_beAttacked_heavy_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,72}</string>
                <key>spriteSourceSize</key>
                <string>{75,72}</string>
                <key>textureRect</key>
                <string>{{137,0},{75,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_beAttacked_heavy0.png</string>
            <key>size</key>
            <string>{212,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8121a06555e3d3edcbb0cd8768080454:597cba32fcdd3694ae28b80831c2b1e6:77da363fc5e0cbd0278ad04e0214bbac$</string>
            <key>textureFileName</key>
            <string>RYU1_beAttacked_heavy0.png</string>
        </dict>
    </dict>
</plist>
