<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_jumpUp_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,85}</string>
                <key>spriteSourceSize</key>
                <string>{55,85}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,104}</string>
                <key>spriteSourceSize</key>
                <string>{56,104}</string>
                <key>textureRect</key>
                <string>{{0,85},{56,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,89}</string>
                <key>spriteSourceSize</key>
                <string>{50,89}</string>
                <key>textureRect</key>
                <string>{{0,189},{50,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,77}</string>
                <key>spriteSourceSize</key>
                <string>{54,77}</string>
                <key>textureRect</key>
                <string>{{0,278},{54,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{48,70}</string>
                <key>textureRect</key>
                <string>{{0,355},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,89}</string>
                <key>spriteSourceSize</key>
                <string>{48,89}</string>
                <key>textureRect</key>
                <string>{{0,425},{48,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,109}</string>
                <key>spriteSourceSize</key>
                <string>{55,109}</string>
                <key>textureRect</key>
                <string>{{0,514},{55,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jumpUp_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,85}</string>
                <key>spriteSourceSize</key>
                <string>{55,85}</string>
                <key>textureRect</key>
                <string>{{0,623},{55,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_jumpUp0.png</string>
            <key>size</key>
            <string>{56,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e1e6cb3910a1618e52e466fe3e44abf:68da838ed86fe6ae7691d0b416e4089c:173fbb6ac3725e17774f72172ed0e71d$</string>
            <key>textureFileName</key>
            <string>RYU1_jumpUp0.png</string>
        </dict>
    </dict>
</plist>
