<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-jump-front-flip0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{0,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{35,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{350,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{385,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{420,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{455,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{490,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{525,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{560,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{595,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{630,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{70,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{105,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{140,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{175,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{210,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{245,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{280,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-front-flip9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{315,0},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>palyer-jump-front-sheet.png</string>
            <key>size</key>
            <string>{665,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35539ae7980abcbed217b918d20f70a6:0ad2e5eba0a53de9b522d9f93a016257:b9d6032e76dfd485b546157dd06fd5fe$</string>
            <key>textureFileName</key>
            <string>palyer-jump-front-sheet.png</string>
        </dict>
    </dict>
</plist>
