<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_fall_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,44}</string>
                <key>spriteSourceSize</key>
                <string>{119,44}</string>
                <key>textureRect</key>
                <string>{{0,0},{119,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_fall_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,40}</string>
                <key>spriteSourceSize</key>
                <string>{123,40}</string>
                <key>textureRect</key>
                <string>{{0,44},{123,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_fall_down_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,31}</string>
                <key>spriteSourceSize</key>
                <string>{125,31}</string>
                <key>textureRect</key>
                <string>{{0,84},{125,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_fall_down0.png</string>
            <key>size</key>
            <string>{125,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d66eb46ca5988414c3f2a0075a070855:6b2f4cf4fca6b6d4d25f8b98835abb5b:27d3b2063eb1266c4fc433edb9dc2f38$</string>
            <key>textureFileName</key>
            <string>RYU2_fall_down0.png</string>
        </dict>
    </dict>
</plist>
