<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_near_light_boxing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_near_light_boxing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,98}</string>
                <key>spriteSourceSize</key>
                <string>{62,98}</string>
                <key>textureRect</key>
                <string>{{0,94},{62,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_near_light_boxing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{0,192},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_near_light_boxing0.png</string>
            <key>size</key>
            <string>{62,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bde2afe33e092f3641decbd0a80c1f4:350fd8012cad38bbfbf239fa507348d3:275fb722e2940ca783ebe3122a8374b9$</string>
            <key>textureFileName</key>
            <string>RYU2_near_light_boxing0.png</string>
        </dict>
    </dict>
</plist>
