<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_after_whirl_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,102}</string>
                <key>spriteSourceSize</key>
                <string>{54,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_after_whirl_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,95}</string>
                <key>spriteSourceSize</key>
                <string>{53,95}</string>
                <key>textureRect</key>
                <string>{{0,102},{53,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_after_whirl_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,90}</string>
                <key>spriteSourceSize</key>
                <string>{54,90}</string>
                <key>textureRect</key>
                <string>{{0,197},{54,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_after_whirl_kick_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,91}</string>
                <key>spriteSourceSize</key>
                <string>{51,91}</string>
                <key>textureRect</key>
                <string>{{0,287},{51,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_after_whirl_kick_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,85}</string>
                <key>spriteSourceSize</key>
                <string>{55,85}</string>
                <key>textureRect</key>
                <string>{{0,378},{55,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_after_whirl_kick0.png</string>
            <key>size</key>
            <string>{55,463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac6d22c67e962d6e78cf7d5f35a8282f:d59d34a954fab1c60b6f3358bbb61566:88f8ab34760b6f6df4844eafd120b74e$</string>
            <key>textureFileName</key>
            <string>RYU2_after_whirl_kick0.png</string>
        </dict>
    </dict>
</plist>
