<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_light_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,93}</string>
                <key>spriteSourceSize</key>
                <string>{60,93}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_light_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{66,92}</string>
                <key>textureRect</key>
                <string>{{60,0},{66,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_light_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{114,94}</string>
                <key>textureRect</key>
                <string>{{126,0},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_light_kick_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{66,92}</string>
                <key>textureRect</key>
                <string>{{240,0},{66,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_light_kick_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,94}</string>
                <key>spriteSourceSize</key>
                <string>{60,94}</string>
                <key>textureRect</key>
                <string>{{306,0},{60,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_light_kick0.png</string>
            <key>size</key>
            <string>{366,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b498c687aaf73c3a1eb01da1a45c8e8a:165474abd5cefe0af404fe55ce011ee7:0f61fadd7a59f16b9ffa1a106124d499$</string>
            <key>textureFileName</key>
            <string>RYU1_light_kick0.png</string>
        </dict>
    </dict>
</plist>
