<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_jump_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,89}</string>
                <key>spriteSourceSize</key>
                <string>{48,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jump_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,109}</string>
                <key>spriteSourceSize</key>
                <string>{55,109}</string>
                <key>textureRect</key>
                <string>{{0,89},{55,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_jump_down0.png</string>
            <key>size</key>
            <string>{55,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7113df6bcd680234ffaa3b21df92a45d:354aa0e3f558fa37380332435c60b73b:ca05d01d4f48d088e9e02200017e8c52$</string>
            <key>textureFileName</key>
            <string>RYU1_jump_down0.png</string>
        </dict>
    </dict>
</plist>
