<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_jump_middle_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,89}</string>
                <key>spriteSourceSize</key>
                <string>{50,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jump_middle_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,92}</string>
                <key>spriteSourceSize</key>
                <string>{76,92}</string>
                <key>textureRect</key>
                <string>{{50,0},{76,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jump_middle_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,89}</string>
                <key>spriteSourceSize</key>
                <string>{50,89}</string>
                <key>textureRect</key>
                <string>{{126,0},{50,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_jump_middle_kick0.png</string>
            <key>size</key>
            <string>{176,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21410c41f48f0f6507d2fd9305d33389:2ff15c5f47167994328ab8596a676fff:7da26646da58d091f9a9207da75fbb28$</string>
            <key>textureFileName</key>
            <string>RYU1_jump_middle_kick0.png</string>
        </dict>
    </dict>
</plist>
