<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_stand_up_defense_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,92}</string>
                <key>spriteSourceSize</key>
                <string>{63,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{63,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_stand_up_defense_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,93}</string>
                <key>spriteSourceSize</key>
                <string>{64,93}</string>
                <key>textureRect</key>
                <string>{{63,0},{64,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_stand_up_defense0.png</string>
            <key>size</key>
            <string>{127,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f23a73a7cc74eaf69f97096b3ef574f:e82485ceb2dd767d80a20eb487716fed:c564b03626929f0619b9df58d39c3ed7$</string>
            <key>textureFileName</key>
            <string>RYU1_stand_up_defense0.png</string>
        </dict>
    </dict>
</plist>
