<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-jump-down0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,40},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,400},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,440},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,480},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,520},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,560},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,600},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,640},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,80},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,120},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,160},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,200},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,240},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,280},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,320},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-jump-down9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,40}</string>
                <key>spriteSourceSize</key>
                <string>{25,40}</string>
                <key>textureRect</key>
                <string>{{0,360},{25,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>palyer-jump-down-sheet.png</string>
            <key>size</key>
            <string>{25,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:366604cdc14f3f527cf9945139b3f3b8:84e649d6a83444a5b8be614402c539d2:d9e8493475d731eda5dd10964dc4a8c5$</string>
            <key>textureFileName</key>
            <string>palyer-jump-down-sheet.png</string>
        </dict>
    </dict>
</plist>
