:host { margin: 5px; }
    h2 { color: #f90; }
.title ,.btn-container ,.input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.input-container {
    margin-bottom: 10px;
}
.item-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn {
    width: 20%;
}
