<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_beAttacked_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,64}</string>
                <key>spriteSourceSize</key>
                <string>{119,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{119,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_beAttacked_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,59}</string>
                <key>spriteSourceSize</key>
                <string>{118,59}</string>
                <key>textureRect</key>
                <string>{{0,64},{118,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_beAttacked_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,63}</string>
                <key>spriteSourceSize</key>
                <string>{119,63}</string>
                <key>textureRect</key>
                <string>{{0,123},{119,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_beAttacked_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,59}</string>
                <key>spriteSourceSize</key>
                <string>{118,59}</string>
                <key>textureRect</key>
                <string>{{0,186},{118,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_beAttacked_fire0.png</string>
            <key>size</key>
            <string>{119,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdc97dcfdefa76f5251c7e20b2b249b3:83214b9039a84699c5ffb023fe1e3836:6c504f6eb3c1d093c70ee47daa5f6d90$</string>
            <key>textureFileName</key>
            <string>RYU1_beAttacked_fire0.png</string>
        </dict>
    </dict>
</plist>
