<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_jump_heavy_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,104}</string>
                <key>spriteSourceSize</key>
                <string>{69,104}</string>
                <key>textureRect</key>
                <string>{{94,95},{69,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jump_heavy_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,94}</string>
                <key>spriteSourceSize</key>
                <string>{53,94}</string>
                <key>textureRect</key>
                <string>{{58,0},{53,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jump_heavy_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,103}</string>
                <key>spriteSourceSize</key>
                <string>{94,103}</string>
                <key>textureRect</key>
                <string>{{0,95},{94,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jump_heavy_kick_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,95}</string>
                <key>spriteSourceSize</key>
                <string>{58,95}</string>
                <key>textureRect</key>
                <string>{{111,0},{58,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_jump_heavy_kick_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,89}</string>
                <key>spriteSourceSize</key>
                <string>{58,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_jump_heavy_kick0.png</string>
            <key>size</key>
            <string>{169,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57c0bcf13693c01e7bd6e4adf5b710c4:e4d927bb0ed3dc3d225783a080f39061:ba19474bf94926863f8fb3c47ab9868b$</string>
            <key>textureFileName</key>
            <string>RYU1_jump_heavy_kick0.png</string>
        </dict>
    </dict>
</plist>
