<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_beAttacked_fall_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,77}</string>
                <key>spriteSourceSize</key>
                <string>{82,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{82,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_beAttacked_fall_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,45}</string>
                <key>spriteSourceSize</key>
                <string>{102,45}</string>
                <key>textureRect</key>
                <string>{{0,77},{102,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_beAttacked_fall_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{78,80}</string>
                <key>textureRect</key>
                <string>{{0,122},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_beAttacked_fall_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,53}</string>
                <key>spriteSourceSize</key>
                <string>{120,53}</string>
                <key>textureRect</key>
                <string>{{0,202},{120,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_beAttacked_fall0.png</string>
            <key>size</key>
            <string>{120,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d98e5b664c47baed5d43d7418618e808:8cab400037877a96e1c6d39ee69d2f25:465074c104ecc5e05aebc45e348bb245$</string>
            <key>textureFileName</key>
            <string>RYU1_beAttacked_fall0.png</string>
        </dict>
    </dict>
</plist>
