<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-push0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,33},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,330},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,363},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,396},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,429},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,462},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,495},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,528},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,561},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,594},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,627},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,66},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,660},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,693},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,726},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,759},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,792},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,825},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,858},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,891},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,924},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,957},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,99},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,990},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,132},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,165},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,198},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,231},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,264},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-push9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{0,297},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>palyer-push-sheet.png</string>
            <key>size</key>
            <string>{28,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20866cdc5e82d27fd1a0d524306cc098:826ac444db8c033541827850eaef0019:211fa44adbe5ff4240329bbd2f496b50$</string>
            <key>textureFileName</key>
            <string>palyer-push-sheet.png</string>
        </dict>
    </dict>
</plist>
