<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,232}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>zadi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,454},{125,160}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,36},{125,160}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>zadi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{163,194}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,23},{163,194}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>zadi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{203,216}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{203,216}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>zadi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,227},{225,226}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{225,226}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
            <key>zadi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{223,228}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{223,228}}</string>
                <key>sourceSize</key>
                <string>{243,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zadi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca1442968c8eda62c24a026e44a49552:1/1$</string>
            <key>textureFileName</key>
            <string>zadi.png</string>
        </dict>
    </dict>
</plist>
