<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_beAttacked_electric_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,101}</string>
                <key>spriteSourceSize</key>
                <string>{85,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{85,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_beAttacked_electric_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,89}</string>
                <key>spriteSourceSize</key>
                <string>{68,89}</string>
                <key>textureRect</key>
                <string>{{85,0},{68,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_beAttacked_electric0.png</string>
            <key>size</key>
            <string>{153,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60e9f822311102b743b5310b070d06c0:67d7a5f08156255d138471522a5982c9:651851bd54ad2e1992b0daad50e89766$</string>
            <key>textureFileName</key>
            <string>RYU2_beAttacked_electric0.png</string>
        </dict>
    </dict>
</plist>
