<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_jump_forward_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,85}</string>
                <key>spriteSourceSize</key>
                <string>{55,85}</string>
                <key>textureRect</key>
                <string>{{114,44},{55,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jump_forward_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,103}</string>
                <key>spriteSourceSize</key>
                <string>{55,103}</string>
                <key>textureRect</key>
                <string>{{71,129},{55,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jump_forward_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,78}</string>
                <key>spriteSourceSize</key>
                <string>{61,78}</string>
                <key>textureRect</key>
                <string>{{0,44},{61,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jump_forward_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,42}</string>
                <key>spriteSourceSize</key>
                <string>{104,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{104,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jump_forward_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,82}</string>
                <key>spriteSourceSize</key>
                <string>{53,82}</string>
                <key>textureRect</key>
                <string>{{61,44},{53,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jump_forward_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,44}</string>
                <key>spriteSourceSize</key>
                <string>{122,44}</string>
                <key>textureRect</key>
                <string>{{104,0},{122,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jump_forward_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,87}</string>
                <key>spriteSourceSize</key>
                <string>{71,87}</string>
                <key>textureRect</key>
                <string>{{0,129},{71,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jump_forward_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,109}</string>
                <key>spriteSourceSize</key>
                <string>{55,109}</string>
                <key>textureRect</key>
                <string>{{126,129},{55,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_jump_forward_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,85}</string>
                <key>spriteSourceSize</key>
                <string>{55,85}</string>
                <key>textureRect</key>
                <string>{{169,44},{55,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_jump_forward0.png</string>
            <key>size</key>
            <string>{226,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9db500f7f2173c3652348ee630e0468:4625deb79f96760799f5a9a94959bc9a:5f3d0e5e9c0bde9d829d519ea6b3998d$</string>
            <key>textureFileName</key>
            <string>RYU2_jump_forward0.png</string>
        </dict>
    </dict>
</plist>
