<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU2_somesault_up_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,71}</string>
                <key>spriteSourceSize</key>
                <string>{57,71}</string>
                <key>textureRect</key>
                <string>{{0,34},{57,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_somesault_up_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,115}</string>
                <key>spriteSourceSize</key>
                <string>{47,115}</string>
                <key>textureRect</key>
                <string>{{0,111},{47,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_somesault_up_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,69}</string>
                <key>spriteSourceSize</key>
                <string>{80,69}</string>
                <key>textureRect</key>
                <string>{{47,111},{80,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_somesault_up_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,77}</string>
                <key>spriteSourceSize</key>
                <string>{54,77}</string>
                <key>textureRect</key>
                <string>{{57,34},{54,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU2_somesault_up_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,34}</string>
                <key>spriteSourceSize</key>
                <string>{93,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{93,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU2_somesault_up0.png</string>
            <key>size</key>
            <string>{127,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51a14754b6bf0cd211e2f1a3f495bf48:52d003a55186de798d7c1aaa20165165:3de9bb835cb125cfcdac5faf364895f3$</string>
            <key>textureFileName</key>
            <string>RYU2_somesault_up0.png</string>
        </dict>
    </dict>
</plist>
