<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RYU1_before_whirl_kick_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,104}</string>
                <key>spriteSourceSize</key>
                <string>{69,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{69,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_before_whirl_kick_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,83}</string>
                <key>spriteSourceSize</key>
                <string>{61,83}</string>
                <key>textureRect</key>
                <string>{{69,0},{61,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RYU1_before_whirl_kick_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,65}</string>
                <key>spriteSourceSize</key>
                <string>{49,65}</string>
                <key>textureRect</key>
                <string>{{130,0},{49,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RYU1_before_whirl_kick0.png</string>
            <key>size</key>
            <string>{179,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:608dcebcb5d67dba65a2202ce3c38bee:8df293e5a8260656a3a45fc63b5223ce:8bd79dfd0a6d8f51ea6d041a1c3302df$</string>
            <key>textureFileName</key>
            <string>RYU1_before_whirl_kick0.png</string>
        </dict>
    </dict>
</plist>
